@model Bowlers
@* A parital view for printing all the movie info for each record *@
<tr>
    <td>
        @Model.BowlerFirstName
    </td>
    <td>
        @Model.BowlerMiddleInit
    </td>
    <td>
        @Model.BowlerLastName
    </td>
    <td>
        @Model.BowlerAddress
    </td>
    <td>
        @Model.BowlerCity
    </td>
    <td>
        @Model.BowlerState
    </td>
    <td>
        @Model.BowlerZip
    </td>
    <td>
        @Model.BowlerPhoneNumber
    </td>
</tr>
